<div class="user-details">
  <h1> About Us </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <img src="{{ "/assets/img/programming.jpg" | prepend: site.baseurl }}" style="display: block; margin: 0 auto" />
    <div class="tech">
      <h2>Purpose</h2>
      <p>이 동아리는 컴퓨터와 프로그래밍에 흥미가 있고, 관심이 있는 학생들이 모여, 함께 아이디어를 공유하고, 각자의 프로그래밍 실력을 늘리는 것을 목적으로 함.</p>
    </div>
    <div class="tech">
      <h2>Date & Location</h2>
      <p>매주 수요일 3:05 ~ 4:30 / 분당중학교 2층 컴퓨터실</p>
    </div>
</div>
