<div class="user-details">
  <h1> About Us </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <img src="{{ "/assets/img/programming.jpg" | prepend: site.baseurl }}" style="display: block; margin: 0 auto; width : 80%" />
    <div class="tech">
      <h2>Purpose</h2>
      <p>이 동아리는 컴퓨터와 프로그래밍에 흥미가 있고, 관심이 있는 학생들이 모여, 함께 아이디어를 공유하고, 각자의 프로그래밍 실력을 늘리는 것을 목적으로 함.</p>
    </div>
    <div class="tech">
      <h2>Date & Location</h2>
      <p>Date : 매주 수요일 3:05 ~ 4:30 <br> Location : 분당중학교 2층 컴퓨터실 <br>(단, COVID-19로 인해 활동이 어려울 경우 ZOOM을 통해 온라인으로 활동함. (추후 공지) )</p>
    </div>
    <div class="tech">
      <h2>Activities</h2>
      <p>C, Python, Scratch 중 원하는 것을 골라서 배우고 각자의 프로젝트를 제작하며, <br>추가적으로 성남시 창의과학축전 부스 운영 또는 COS, COS pro 프로그래밍 자격증 취득활동등을 할 예정임</p>
    </div>
    
</div>
