 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="images">
      <img alt="programming" src="{{ "/assets/img/programming.jpg" | prepend: site.baseurl }}" />
    </div>
    <br>
    <div class="tech">
      <h2>Purpose</h2>
      <p>이 동아리는 컴퓨터와 프로그래밍에 흥미가 있고, 관심이 있는 학생들이 모여, 함께 	아이디어를 공유하고, 각자의 프로그래밍 실력을 늘리는 것을 목적으로 함.</p>
    </div>
    <div class="tech">
      <h2>Qualification</h2>
      <p>1. 프로그래밍에 관심이 있다.<br>
        2. 스크래치나 엔트리를 다뤄본 적이 있다.<br>
        3. 나는 프로그래밍을 본격적으로 배우고 싶은 마음이 있다.<br>
        4. 나는 이 동아리에 성실히 임할 것이다.</p>
    </div>
    <div class="tech">
      <h2>Rules</h2>
      <p>1. 컴퓨터를 가지고 딴짓을 한다. (ex. 게임, 웹툰, 유튜브 등)<br>
        2. 사전 말없이 빠진다. (ex. 튄다)<br>
        3. 심한 장난 혹은 잡담으로 분위기를 어지럽힌다.</p>
    </div>
</div>
