<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Qualification </h3>
    <ol>
      <li>프로그래밍에 관심이 있다. </li>
      <li>스크래치나 엔트리를 다뤄본 적이 있다. </li>
      <li>나는 프로그래밍을 제대로 배우고 싶다.</li>
      <li>나는 이 동아리에 성실히 임할 것이다. </li>
    </ol>
    <p>이 조건은 필수사항은 아니지만, 더욱 활발한 활동을 위해 동아리 가입 전 자신이 이 조건에 만족하는지 한번 확인해주십시오. 이 동아리는 단순히 스크래치나 엔트리만 다루는 동아리가 아니기에 기초가 없을 경우 동아리 활동에 흥미가 굉장히 떨어질 수 있습니다.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rules </h3>
    <ol>
      <li>컴퓨터를 가지고 딴짓을 하지 않는다. (만약 딴짓하면 아예 인터넷에 못들어가게 만들거임ㅇㅇ)
      <li>사전 말없이 빠진다. (튀면 결석처리)</li>
      <li>심한 장난 혹은 잡담으로 분위기를 어지럽히지 않는다.</li>
    </ol>
    <p>위의 내용에 어긋나는 행동을 한 경우 불이익이 따를 수 있음. </p>
  </div>
  
</div>
<a class="project-link" href="https://docs.google.com/forms/d/e/1FAIpQLScrEZmhzKHxlDYwj3CjqQDq-lMDh4XPq4gH5Y7gFftodvCQiw/viewform?usp=sf_link">Application</a>
